table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
  }

  th, td, hr {
    border: 1px solid;
  }

  h2,h1 {
    font-family: Copperplate, Papyrus, fantasy;
  }
  
  body {
    background-image: url("./Assets/Tek.jpg")
    /* Hintergrundbild-URL hier einfügen */
  }

  hr {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  }

  .button {
  background-color: #e3e8fe; 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.zentriert {
  text-align: center;
}

.zentriert p {
  display: inline-block;
}

